# Python
__pycache__/
*.pyc

# Virtual environments
venv/
.env

# Jupyter
.ipynb_checkpoints/

# Playwright / Selenium
playwright/.cache/

# Secrets
.env
secrets.json
session.json

# OS
.DS_Store

#output files 
output/